
p {
    margin: 0;
}

.levelSlide {
    display: flex;
    justify-content: center;
    height: 30vw;
    width: 25vw;
    flex-shrink: 0;
    border-radius: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    transform-style: preserve-3d;
    position: relative;
   
}

.slideText {
    font-size: 1vw;
    white-space: normal;
    word-wrap: break-word;
    overflow: scroll; 
    font-size: Noto;
}

.slideText h3 {
    margin: 0;
    margin-top: 1vw;
}

.slideText h1 {
   margin-bottom: 1vw;
}

.slidesContainer {
    display: flex;
    overflow-x: auto;
    padding: 2vw;
    white-space: nowrap; 
}

.slidesContainer::-webkit-scrollbar {
    display: none;
}

.first {
    backface-visibility: hidden;
    position: absolute;
    width: 25vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first h1 {
    font-size: 4vw;
}

.last {
    backface-visibility: hidden;
    width: 25vw;
    height: 30vw;
    position: absolute;
}

