.Container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Container h1 {
   font-family: 'Noto';
   font-size: 3vw;
}

.ListContainer {
   display: flex;
   flex-direction: row;
   overflow: scroll;
}

.bookContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}
