h1 {
   font-family: 'Noto';
   font-size: 3vw;
}
.userIcon {
   width: 15vw;
   height: 15vw;
}

.userSettingIcon {
   color: white;
   width: 3vw;
   height: 3vw;
}

.userContainer {
   background-color: #abc0c9;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 2vw;
   padding-left: 3vw;
   padding-right: 3vw;
}





.userName {
   margin-top: 1vw;
   margin-bottom: 2vw;
   font-size: 3vw;
}

.pngBooks {
   display: flex;
   flex-direction: row;
   margin-top: 5vw;
}

.pngBook {
   width: 49vw;
   height: 14vw
}

.favoriteBooks {
   height: 35vw;
   background-image: url("/public/imgs/pngwing.com\ \(5\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   padding-top: 2vw;
   
}


.readingNow {
   height: 35vw;
   background-image: url("/public/imgs/pngwing.com\ \(5\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   padding-top: 2vw;

}

.library {
   height: 35vw;
   background-image: url("/public/imgs/pngwing.com\ \(5\).png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   padding-top: 2vw;
   
}