h1 {
   font-family: 'Noto';
}
.userIcon {
   width: 15vw;
   height: 15vw;
}

.userSettingIcon {
   color: white;
   width: 3vw;
   height: 3vw;
}

.userContainer {
   background-color: #abc0c9;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 2vw;
   padding-left: 3vw;
   padding-right: 3vw;
}





.userName {
   margin-top: 1vw;
   margin-bottom: 2vw;
   font-size: 3vw;
}

.pngBooks {
   display: flex;
   flex-direction: row;
   margin-top: 5vw;
}
.pngBook {
   width: 49vw;
   height: 14vw
}

.favoriteBooks {
   display: flex;
   justify-content: center;
   margin-top: 5vw;
}

.favoriteBooks h1{
   font-size: 3vw;
}

